#root, html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}


.App {
  text-align: center;
}

.App-header {
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: whitesmoke;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: 0;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

p {
  width: 360px;
}



.card {
  background: #09254b;
  height: 40%;
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  padding: 2%;
  box-shadow: 8px 8px;
}

.heading {
  display: flex;
  align-items: center;
  height: 582px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: whitesmoke;
}

.button {
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 200px;
  width: 210px;
  opacity: 1;
  background-color: #ffffff;
  border: 1px solid rgba(22, 76, 167, 0.6);
  margin-bottom: 4px;
}
  
.button span {
  color: #164ca7;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
}
  
.button:hover {
  animation: rotate 0.7s ease-in-out both;
}
  
.button:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}
  
@media only screen and (max-width: 600px) {
  .card {
      width: 80%;
      height: 30%;
  }
}